:local(.episode) {
    position: relative;
    font-size: 1rem;
    display: flex;
    flex-direction: column;

    @media (min-width: 800px) {
      font-size: 1.25rem;
      flex-direction: row;
    }
}


:local(.episodeMeta) {
    margin: 0;
}

:local(.episodePlay){
    opacity: .7;
    mix-blend-mode: multiply;
    background:transparent;
    border: none;
    cursor: pointer;
    shape-outside: url(./PlayIcon.svg);
    transition: transform 0.25s ease;
    display: block;
    height: 46px;
    width: 46px;

    &:hover {
        transform: scale(0.97);
    }
    &:focus {
        outline: none;
    }

    @media (min-width: 800px) {
        height: 56px;
        width: 56px;
    }
}

:local(.episodeNowPlaying) {
    .episodePlay {
      opacity: 1;
    }
}

:local(.episodeName) {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    margin: 0;
    line-height: 1.1;
}

:local(.episodeDescription) {
    margin: 0 0 .5em 0;
    line-height: 1.4;
    width: 90%;
}

:local(.episodeHosts) {
    margin: 0;
    line-height: 1.4;
    margin: 1rem 0;

    span {
      display: block;
      margin-top: .25em;
    }
}

:local(.episodeDetails) {
    flex: 2;
}

:local(.episodeActions) {
    flex: 1;

    button {
        margin: 0 auto;
    }
}