:local(.episode) {
    background: #96F6C5;
    position: relative;
    padding: 1rem 1rem 2rem 4rem;

    color: #008B8B;
    margin: 0 1rem 2rem 1rem;

    @media (min-width: 800px) {
        flex-basis: calc(50% - 2rem);
    }

}

:local(.episodePlay){
    float: right;
    position: relative;
    right: -2rem;
    top: -2rem;
    padding: 0;
    margin: 0;
    background:transparent;
    border: none;
}


:local(.episodeName) {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    margin: 5rem 0 .25em 0;
    line-height: 1.1;
}

:local(.episodeDescription) {
    font-size: 20px;
    margin: 0;
    line-height: 1.4;
}

:local(.episodeNumber) {
    text-transform: uppercase;
    transform: rotate(90deg);
    position: absolute;
    top: 2.5rem;
    left: -1rem;
    font-size: 18px;
    font-weight: bold;
    &:before {
        content: 'Episode ';
        text-transform: uppercase;
    }
}
