body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


.l-constrain {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
}


:local(.grid) {

    img {
        display: block;
        width: 100%;
        max-width: 100%;
    }
}

:local(.grid_item) {
    margin-bottom: 25px;
}

:local(.masthead) {
    padding: 1.5rem 0;
    color: #008B8B;
    min-height: 45vh;
    background:url('./masthead.png') no-repeat;
    background-size: cover;
    text-align: center;

    @media (min-width: 800px) {
        min-height: 55vh;
    }
}


:local(.strapline) {
    font-size: 18px;
    font-weight: normal;

    @media (min-width: 800px) {
      max-width: 40vw;
      font-size: 21px;
      margin: 0 auto;
      padding-top: 2em;
    }
}

:local(.logo) {
  opacity: .6;
  mix-blend-mode: multiply;
}


:local(.panel) {
    padding: 20px;
    background: rgba(97,233,114,0.30);
    transition: background 0.5s ease;
    color: rgba(0,0,0,0.5);
    
    a {
        color: rgba(0,0,0,0.5);
    }
    
    :local(.grid_item):nth-child(1) & {
        background: rgba(0,139,139,0.30);
    }

    :local(.grid_item):nth-child(3) & {
        background: rgba(41,187,230,0.30);
    }

    :local(.grid_item):nth-child(6) & {
        background: #D9D4E7;
    }

    :local(.grid_item):nth-child(7) & {
        background: rgba(0,139,139,0.30);
    }

    :local(.grid_item):nth-child(8) & {
        background: rgba(41,187,230,0.30);
    }
    /* Rectangle 3: */

}

:local(.panelBlue) {
        background: rgba(41,187,230,0.30);    
}

:local(.panelGreyGreen) {
    background: rgba(0,139,139,0.30);
}

:local(.panelGreen) {
    background: rgba(97,233,114,0.30);
}


:local(.panelPurple) {
    background: #D9D4E7;
}


:local(.panelActive) {
    background: #008B8B;
    color: white;
}

:local(.panel_title) {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;

    & ~ [class^=episodeMeta] {
        margin: -.5rem 0 1rem 0;
    }
}