body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


.l-constrain {
    max-width: 1062px;
    margin: 0 auto;
    padding: 0 1rem;
}

:local(.masthead) {
    padding: 1.5rem 0;
    color: #008B8B;
    min-height: 45vh;
    background:url('./masthead.jpg') no-repeat;
    background-size: cover;
    text-align: center;

    @media (min-width: 800px) {
        min-height: 55vh;
    }
}


:local(.strapline) {
    font-size: 21px;
    font-weight: normal;
}

:local(.episodes) {

    @media (min-width: 800px) {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        margin: 0 -1rem;
    }
}

:local(.jumbotron) {

}
