:local(.audio_player) {
    margin-bottom: 2rem;
}

:local(.audio_progress_container) {
    position: relative;
    height: 10px;
    border-radius: 5px;
    flex-grow: 1;
    background-color: #54C7BD;

    &:hover {
        cursor: grab;
    }
}
:local(.audio_progress) {
    background-color: #ffffff;
    height: 100%;
    border-radius: 5px;
    width: 0;
    will-change: width;
}
